*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pic1{
    background-image: url('img/pic1.jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 95%;
}
.pic2{
    background-image: url('img/pic2.jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 95%;
}
.pic3{
    background-image: url('img/pic3.jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 95%;
}
.pic4{
    background-image: url('img/pic4.jpg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 95%;
}
.card{
    background: white;
    opacity: 0.6;
    color: black;
    border: none;
}
.cardo{
    background: white;
    border: none;
    width: 55%;
    margin-top: 10px;
}
.section3{
    width: 70%;
    margin-top: 60px;
}
.sale{
    font-size: 20px;
    color: black;
}
.sale:hover{
    color: black;
    text-decoration: none;
}
.sale1{
    color: black;
}
.sale1:hover{
    color: black;
    text-decoration: none;
}
.popular{
    padding-left: 20px;
    font-size: 25px;
    font-weight: 700;
}
.watch{
    border: 3px solid #dcdcdc;
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.watchs{
    border: 3px solid #dcdcdc;
    border-radius: 50%;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: 20px; 
}
.watches{
    border: 3px solid #dcdcdc;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 75px;
    padding-bottom: 75px;
    border-radius: 50%;
}
.watch:hover{
    border: 3px solid #8c8c8c;
    background: #d7d7d7;
}
.watches:hover{
    border: 3px solid #8c8c8c;
    background: #d7d7d7;
}
.watchs:hover{
    border: 3px solid #8c8c8c;
    background: #d7d7d7;
}
.link{
    color: black;
}
.link:hover{
    color: black;
    text-decoration: none;
}
.men{
    background: url('img/mens-watches-bg.jpg');
    height: 105vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 3px solid white;
}
.women{
    background: url('img/women-watches-bg.jpg');
    height: 105vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.access{
    background: url('img/a.jpg');
    height: 40vh;
    background-repeat: no-repeat;
}
.access1{
    background: url('img/a2.jpg');
    height: 40vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.access4{
    background: url('img/a3.jpg');
    height: 20vh;
    background-repeat: no-repeat;
    background-size: 99%;
}
.access3{
    background: url('img/a4.jpg');
    height: 20vh;
    background-repeat: no-repeat;
    background-size: 99%;
}
.loop{
    background: #CFD4DA;
    padding-top: 24px;
    padding-bottom: 24px;
    border: none;
}
.form{
    background: #F3F4F6;
    margin-left: 60px;
    padding: 24px 60px 24px 30px; 
    border: none;
}
.rare{
    font-size: 23px;
    font-weight: 650;
    color: black;
}
.rare:hover{
    color: black;
    text-decoration: black;
}
.man{
    background: #f3f4f663;
    margin-top: 120px;
}
.met{
    color: black;
}
.met:hover{
    color: black;
    text-decoration: none;
}
.modal{
    margin-top: 200px;
    width: 50%;
    margin-left: 350px;
}
.ling{
    padding-left:50px;
}
.class{
    margin-bottom: 25px;
}
@media(max-width: 576px){
    .envy{
        margin-left: 70px !important;
        padding-top: 10px;
    }
    .best{
        font-size: 40px;
        margin-left: 5px;
    }
    .brand{
        margin-left: 50px;
    }
     .search{
        margin-top: 0;
        padding-left: 50px;
        padding-right: 50px;
    } 
    .sign{
        margin-left: 250px;
    }
    .cart{
        margin-left: 10px;
    }
    .image1{
        background-size: contain;
    }
    .class{
        margin-top: -230px;
    }
    .popular{
        text-align: center;
    }
    .watch{
        margin-left: 65px;
    }
    .watchs{
        margin-left: 35px;
    }
    .watches{
        margin-left: 25px;
    }
    .women{
        background-size: 100%;
        margin-top: -400px;
    }
    .men{
        background-size: 100%;
    }
    .man{
        margin-top: 0;
    }
    .access{
        background-size: 100%;
        height: 100%;
        margin-top: -400px;
    }
    .access1{
        background-size: 100%;
        height: 100%;
        margin-top: -380px;
    }
    .access3{
        background-size: 100%;
        height: 100%;
        margin-top: -320px;
    }
    .access4{
        background-size: 100%;
        height: 100%;
        margin-top: -200px;
    }
    .rare{
        font-size: 10px;
    }
    .luxu{
        margin-top: -100px;
        text-align: center;
    }
    .save{
        padding-left: 10px !important;
        padding-right: 10px !important;
        text-align: center;
    }
    .saves{
        text-align: center;
        margin-top: 50px !important;
    }
}